.modal {
  flex-direction: column;
  justify-content: space-around !important;
  gap: 20px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: background 0.3s ease;

  &:hover {
    background-color: aliceblue;
  }
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.button {
  text-transform: uppercase;
}
